<form (ngSubmit)="add()" #addForm="ngForm">
    <div class="form-group">
        <label for="no">Flight No</label>
        <input class="form-control" name="no" [(ngModel)]=flight.flightNo
            required pattern="[0-9]{3,}" placeholder="ID" #no='ngModel'>
        <span *ngIf="no.touched && no.invalid" class="alert-danger">
            Flight No is invalid!
        </span>
    </div>
    <div class="form-group">
        <label for="carrier">Carrier</label>
        <select class="form-control" name="carrier" [(ngModel)]=flight.carrier>
            <option *ngFor="let car of carriers" [value]="car">{{ car }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="source">Source</label>
        <select class="form-control" name="source" [(ngModel)]=flight.source>
            <option *ngFor="let r of routes" [value]="r">{{ r }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="destiny">Destination</label>
        <select class="form-control" name="destiny" [(ngModel)]=flight.destiny>
            <option *ngFor="let r of routes" [value]="r">{{ r }}</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!addForm.valid">
        Add Flight</button>
</form>
