<form (ngSubmit)="search()">
    <label for="query">Enter Query</label>
    <input name="query" [(ngModel)]="query" class="form-control">
    <input type="radio" name="criteria" [(ngModel)]="criteria" value="Title">Title
    <input type="radio" name="criteria" [(ngModel)]="criteria" value="Artist">Artist
    <input type="radio" name="criteria" [(ngModel)]="criteria" value="Genre">Genre
    <button type="submit">Search Title</button>
</form>
<table class="table table-dark">
    <tr><td>Title</td><td>{{album.title}}</td></tr>
    <tr><td>Artist</td><td>{{album.artist}}</td></tr>
    <tr><td>Genre</td><td>{{album.genre}}</td></tr>
</table>
